section {
  max-width: 1200px;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0 60px;
}

button {
  width: 60px;
  height: 60px;

  color: white;
  background-color: #dccab3;
  border: none;
  border-radius: 20px;
  font-size: 35px;
  font-weight: bold;

  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #ffd19b;
  }
}

ul {
  width: 60%;
  height: 80%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
